@model RTS.DataAccess.Logic.RTSEntities.Item

@{
    ViewData["Title"] = "Deny";
}

<h1>@ViewBag.denied</h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'https://localhost:44365';
    }, 3000);
</script>